.tópicos{
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.tópicos__titulo{
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1em;
}

.tópicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tópicos__item{
    margin: 2em 0.5em;
}

.tópicos__link{
    color: var(--branco);
    padding: 1em;
    background-color: var(--laranja);
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .tópicos__titulo {
        font-size: 22px;
    }

    .tópicos__link {
        font-size: 22px;
    }

    
}

@media screen and (min-width: 1728px) {
    .tópicos{
        padding: 3em 30vw;
    }

    .tópicos__titulo {
        font-size: 22px;
    }

    .tópicos__link {
        font-size: 22px;
    }

    
}